.bi,.bi-person{
    color: white;
    display: block;
    padding-top: 10px;
}
// .bi,.bi-person:hover{
//     color: gray;
// }

.jumbotron{
    
    .container{
        height: 70vh;
        
            h1{
            padding-top: 7rem;
            text-align: center;
            
            .tombol{
            }

        }
    }
}
